@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

/* CABEÇALHO DO SITE */

header{
    margin: 0;
    width: 100%;
    background-color: rgba(000, 000, 000, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header{
    margin: auto;
    width: 90%;
    height: 9vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

code{
    color: #607B96;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    margin: 0;
}

code a{
    text-decoration: none;
    color: #607B96;
}

.menu{
    width: 50%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    font-family: 'Cherry Swash', cursive;
    color: #ffffff;
    width: 100%;
    margin: 0;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

.menu ul li:nth-of-type(2), .menu ul li:nth-of-type(3), .menu ul li:nth-of-type(4), .menu ul li:nth-of-type(5){
    color: rgba(255, 255, 255, 0.5);
}

/* FIM DO CABEÇALHO DO SITE */

/* HOME - PÁGINA INICIAL */

.mainHome{
    height: 90vh;
    width: 100%;
}

.contents{
    width: 90%;
    display: flex;
    height: 100%;
    margin: auto;
}

.content1{
    width: 50%;
}

.content1 img{
    margin-top: 80px;
    width: 80%;
}

.content1 p{
    font-family: 'Sacramento', cursive;
    margin: 0;
    font-size: 40px;
    color: #ffffff;
}

.content1 button{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-family: 'Cherry Swash', cursive;
    padding: 5px;
    cursor: pointer;
}

.content1 a:nth-of-type(2){
    margin-left: 100px;
    color: #ffffff;
}

.content2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content2 img{
    width: 50%;
    margin-left: 100px;
}

/* FIMA DA HOME - PÁGINA INICIAL */

/* INÍCIO CADASTRO */
.mainCadastro{
    height: 90vh;
    width: 100%;
}

.mainCadastro h1{
    color: #ffffff;
    font-weight: 700;
    font-family: 'Cherry Swash', cursive;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCadastro{
    margin: auto;
    width: 70%;
    background-color: #011221;
    opacity: 80%;
    height: 80%;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    display: flex;
}

.part1Cadastro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
}

.part1Cadastro label{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
}

.part1Cadastro input{
    width: 80%;
    background-color: rgb(255, 255, 255, 0.7);
    height: 35px;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
}

.part2Cadastro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.part2Cadastro label{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
}

.part2Cadastro input{
    width: 80%;
    background-color: rgb(255, 255, 255, 0.7);
    height: 35px;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
}

.buttonsCad{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.buttonsCad a button{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-family: 'Cherry Swash', cursive;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.buttonsCad p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 25px;
}

.buttonsCad  p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
/* FIM DO CADASTRO */

/* INÍCIO LOGIN */
.formLogin{
    margin: auto;
    width: 40%;
    background-color: #011221;
    opacity: 80%;
    height: 70%;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partLogin{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.partLogin label{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
}

.partLogin input{
    width: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    height: 35px;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
}

.partLogin p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 15px;
    margin: 0;
}

.partLogin p a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.buttonsLog{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonsLog a button{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-family: 'Cherry Swash', cursive;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.buttonsLog p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    margin-top: 25px;
}

.buttonsLog  p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
/* FIM DO LOGIN */

/* INÍCIO OS FILMES */
.contentFilmes{
    margin: auto;
    width: 90%;
    margin-top: 50px;
}

.tituloFilme{
    width: 100%;
    display: flex;
    align-items: center;
}

#filme02, #filme04, #filme06, #filme08{
    flex-direction: row-reverse;
}

.tituloFilme img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    box-shadow: 2px -1px 3px rgba(255, 255, 255, 1);
}

.tituloFilme h2{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    margin-left: 20px;
}

#filme02 h2, #filme04 h2, #filme06 h2, #filme08 h2{
    margin-left: 0;
    margin-right: 20px;
}

.descFilme{
    background-color: #011221;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descFilme p{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Cherry Swash', cursive;
    font-size: 17px;
}

.linksFilme{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linksFilme a button{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-family: 'Cherry Swash', cursive;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.linksFilme a button:hover{
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    transition: transform 1s;
    transform: translateX(0) scale(1.1);
}

.linksFilme p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

hr{
    width: 90%;
    margin-top: 50px;
    border-color: rgba(255, 255, 255, 0.7);
}
/* FIM DE OS FILMES */

/* INÍCIO PERSONAGENS FAVORITOS */
.mainPersonagensFav{
    
    width: 100%;
}

.personagens{
    width: 80%;
    margin: auto;
}

.personagem01, .personagem02, .personagem03, .personagem04, .personagem05{
    display: flex;
    margin-top: 40px;
    align-items: center;
    text-align: justify;
}

.personagem02, .personagem04{
    flex-direction: row-reverse;
}

.personagem02 h2, .personagem04 h2{
    text-align: right;
}
.img img{
    width: 150px;
}

.descPersonagem{
    color: #FFFFFF;
    font-family: 'Cherry Swash', cursive;
    margin-left: 20px;
}

.descPersonagem:nth-of-type(2), .descPersonagem:nth-of-type(4){
    margin-right: 20px;
}

.descPersonagem h2{
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.descPersonagem p{
    font-size: 18px;
}



/* FIM DE INÍCIO PERSONAGENS FAVORITOS */




/* INÍCIO FOOTER */
footer{
    background-color: #0E1C2C;
    margin: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tituloFooter h1{
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    font-weight: 550;
}

.contatos ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.contatos ul li a{
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cherry Swash', cursive;
    text-decoration: none;
}

.contatos ul li a:hover{
    color: rgba(255, 255, 255, 0.5);
}

.developBy{
    padding-right: 50px;
    align-self: end;
    font-family: 'Cherry Swash', cursive;
    color: rgba(255, 255, 255, 0.4);
}
/* FIM DO FOOTER */